.section {
  background: #f5f5f5;
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.vertical {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.vertical::-webkit-scrollbar {
  width: 0;
}
