.bookmarkbutton {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: #f5f5f5 0.5px solid;
}
.bookmarkbutton {
  border-bottom-left-radius: 10px;
}

.recipepurchased {
  border-bottom-right-radius: 10px;
}

.bookmarkbutton:hover {
  background-color: #3e8e41;
}

.alreadybookmarked {
  background-color: #f5b041 !important;
}
