.login-signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-signup-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group .valid {
  background-color: #c7f0d8;
}

.login-signup-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-signup-container button[disabled] {
  cursor: not-allowed;
}

.toggle-login-signup {
  margin-top: 20px;
  text-align: center;
}

.toggle-login-signup button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}
