.applayout {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.outlet {
  height: 1000px;
  overflow-y: scroll;
  margin-top: 0;
  width: 100%;
}
